# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Sprint_4-FrontEnd/sp_medical_group/node_modules
Sprint_4-FrontEnd/sp_medical_group/.pnp
Sprint_4-FrontEnd/sp_medical_group/.pnp.js

# testing
Sprint_4-FrontEnd/sp_medical_group/coverage

# production
Sprint_4-FrontEnd/sp_medical_group/build

# misc
Sprint_4-FrontEnd/sp_medical_group/.DS_Store
Sprint_4-FrontEnd/sp_medical_group/.env.local
Sprint_4-FrontEnd/sp_medical_group/.env.development.local
Sprint_4-FrontEnd/sp_medical_group/.env.test.local
Sprint_4-FrontEnd/sp_medical_group/.env.production.local

Sprint_4-FrontEnd/sp_medical_group/npm-debug.log*
Sprint_4-FrontEnd/sp_medical_group/yarn-debug.log*
Sprint_4-FrontEnd/sp_medical_group/yarn-error.log*
